.home{
     width : 100%;
     height : 100vh;
}
.p-home{
    font-size: 1.2rem;
    justify-content: center;
}
.h1-home{
    font-size: 3rem ;
}
.btn-home{
    margin-top: 20px;
    background-color: #0072ff;
    border: #0db0d1;
    border-radius: 20px;
    padding: 2rem 2rem;
    color:white !important;
    font-size:1.5rem;
}
