.todo{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;
}

.todo-inputs{
    border:none;
    outline: none;
}

.todo-inputs-div{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

#textarea{
    display:none;
}

.todo-btn{
    margin-top: 20px;
    background-color: #0072ff;
    border: #0db0d1;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    color:white !important;
    font-size:1rem;
}
.todo-cards{
    border:1px solid #0db0d1;
    border-radius: 5px;
}
.todo-cards p{
    text-align: justify;
    text-justify: inter-word;
}
.card-icons{
    font-size: 18px;
    cursor: pointer;
}
.del{
    color: red;
}
.card-item{
    cursor: pointer;
    transition: 0.3s;
}
.card-item:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.todo-update{
    position: absolute;
    position:fixed;
    top:80px;
    left:0px;
    width: 100% ;
    height: 80vh;
    background-color: bisque;
    display: none;
}